<?xml version="1.0"?>
<configuration>
  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <!--TODO: add here the service behavior with the serviceMetadata behavior-->
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
        <service name="HotelBooking.HotelBookingService">
            <endpoint address="booking" 
                      binding="basicHttpBinding"
                      contract="HotelBooking.IHotelBookingService"
                      bindingConfiguration=""  />

            <host>
                <baseAddresses>
                    <add baseAddress="http://localhost:8733/" />
                </baseAddresses>
            </host>
        </service>
    </services>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
