<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHotelBookingService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IHotelBookingService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/HotelBooking/HotelBookingHttp"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelBookingService"
                contract="HotelBooking.IHotelBookingService" name="BasicHttpBinding_IHotelBookingService" />
            <endpoint address="net.tcp://localhost:8734/HotelBooking/HotelBookingTcp"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IHotelBookingService"
                contract="HotelBooking.IHotelBookingService" name="NetTcpBinding_IHotelBookingService">
                <identity>
                    <userPrincipalName value="ASINGALA-PC\asingala" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
